@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome Ezequiel Ramos</h1>
    
</div>

<div class="card" style="width: 65rem;">
  
  <div class="card-body">
    <h5 class="card-title">Sobre  min</h5>
    <p class="card-text">Meu  nome é Ezequie Ramos, tenho 22 anos natural e residente de Santa Cruz do Sul.</p>
  </div>
</div>

<div class="card" style="width: 65rem;">
  
  <div class="card-body">
        <p class="card-title"> Experiencia Profissional: </p>
        <p class="card-text"> Atualmente servido no Exécito Brasilerio - Área de construção civil, responsavel por reformas nas estruturas do 7 BIB.</p>
        <p class="card-text"> Empresa: HiperMercado BIG - Jovem Aprendiz  </p>
        <p class="card-text"> Prinicipais atividades; Repositor, Auxilar de Gerente </p>
        <p class="card-text"> Período: 17/0918 á 28/10/19 </p>
    </div>
</div>

<div class="card" style="width: 65rem;">
    
    <div class="card-body">
        <p class="card-title">Formação Escolar:</p>
        <p class="card-text">Ensino Médio Completo</p>
    </div>
</div>

<div class="card" style="width: 65rem;">
    <div class="card-body">
        <p class="card-title">Qualifições:</p>
        <p class="card-text">Aprendizagem Profissional Comercial em Serviços de Vendas.</p>
        <p class="card-text">Noção Basicas de Marketing</p>
    </div>
</div>