@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome a Energy Solar </h1>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://static.vecteezy.com/ti/fotos-gratis/p1/1235998-painel-solar-celula-em-dramatico-por-do-sol-fundo-gratis-foto.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="https://static.vecteezy.com/ti/fotos-gratis/p1/22807934-a-solar-painel-e-conjunto-lado-de-fora-contra-uma-fundo-do-ceu-com-nuvens-generativo-ai-foto.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://irp.cdn-website.com/5e3ce182/dms3rep/multi/Energia+solar+valoriza+o+im%C3%B3vel+e+promove+economia+na+conta+de+luz.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Catálogo de Placas Solares!</h5>
                <p class="card-text">Temos as melhores marcas com preços exclusivos para você!</p>
                <a href="#" class="btn btn-primary"> Saiba mais.</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Benefiícios:</h5>
                <p class="card-text">Seu imóvel super valoriza, além de gerar uma Economia de grande benefícos e ajuda ao meio ambiente!
                    Outros benefícios de ter energia solar em residências é a economia que essa decisão gera.
                    Como o sol é sua fonte principal de geração e como os painéis solares têm se tornado mais eficientes, a opção é mais econômica.
                </p>
                <a href="#" class="btn btn-primary">Saiba mais.</a>
            </div>
        </div>
    </div>
</div>